header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  border-bottom: 1px solid green;
}

.header-title {
  font-weight: 600;
  font-size: 20px;
}

nav a {
  margin: 0px 5px;
}